/* custom css for website */

body{
	font-family: 'Lato', sans-serif;
}

/* navbar */

.nescodebrand{
	max-width: 150px;
	max-height: auto;
}
.navbar-brand{
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1.4rem;
	letter-spacing: 1px;
	color: #1B5E20;
}

.navbar-light .navbar-brand{
	color: #1B5E20;
}

.navbar-light .navbar-nav .nav-link{
	text-transform: uppercase;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
	color: #FF3300;
}
/* breadcrumb */


a{
	color: #FF3300;
}

.breadcrumb-item.active{
	color: #000000;

}
/* footer */

.footer {
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
